extends layout

block content
    .container
        .row
            .col-3
                form(method='get' action='/posts')
                    div.mb-3
                        label.form-label(for='title') Search by title
                        input#title.form-control(type='text', name='title', value=titleSearch)
                    div.mb-3
                        label.form-label(for='tag') Search by tag
                        input#tag.form-control(type='text', name='tag', value=tagSearch)
                    div.mb-3
                        label.form-label(for='sort') Sort by &nbsp;
                        select#sort.form-control.form-control-sm.w-auto.d-inline-block.ml-1(name='sort')
                            option(value='createdAt', selected=sort === 'createdAt') Creation date
                            option(value='updatedAt', selected=sort === 'updatedAt' || !sort) Update date
                    div.mb-3
                        label.form-label(for='sortOrder') Order &nbsp;
                        select#sortOrder.form-control.form-control-sm.w-auto.d-inline-block.ml-1(name='sortOrder')
                            option(value='asc', selected=sortOrder === 'asc') Ascending
                            option(value='desc', selected=sortOrder === 'desc' || !sortOrder) Descending

                    div.mb-3
                        button.btn.btn-primary(type='submit') Search
                        a.btn.btn-secondary(href='/posts') Reset
            div.col-9
                each post in posts
                    .card.mb-4
                        .card-header
                            h5= post.title
                            small.text-muted Posted by #{post.author.username} on #{new Date(post.createdAt).toLocaleDateString()}
                        .card-body
                            p.card-text= post.content
                            if post.tags && post.tags.length > 0
                                small Tags:
                                each tag in post.tags
                                    span.badge.badge-pill.badge-primary.ml-1.tag= tag.name
                        .card-footer
                            p.mb-1
                                span.text-muted #{post.comments.length} #{post.comments.length === 1 ? 'Comment' : 'Comments'}
                                | &middot; Updated at #{new Date(post.updatedAt).toLocaleDateString()}
                            a.btn.btn-primary(href=`/posts/${post._id}`) Read more

                nav
                    .row.mb-3
                        .col-12
                            label(for='limit') Show &nbsp;
                            select#limit.form-control.form-control-sm.w-auto.d-inline-block.ml-1(name='limit', onchange='onLimitChange()')
                                each option in [5, 10, 20, 50]
                                    option(value=option, selected=option === limit)= option
                            span &nbsp;items per page
                    ul.pagination
                        li.page-item(class=page === 1 ? 'disabled' : '')
                            a.page-link(href=`/posts?page=${page - 1}&title=${titleSearch}&tag=${tagSearch}&limit=${limit}`, tabindex='-1') Previous
                        - let startPage = Math.max(page - 2, 1)
                        - let endPage = Math.min(page + 2, totalPages)
                        each pageIndex in Array(endPage - startPage + 1).fill().map((_, i) => i + startPage)
                            li.page-item(class=pageIndex === page ? 'active' : '')
                                a.page-link(href=`/posts?page=${pageIndex}&title=${titleSearch}&tag=${tagSearch}&limit=${limit}`)= pageIndex
                        li.page-item(class=page === totalPages ? 'disabled' : '')
                            a.page-link(href=`/posts?page=${page + 1}&title=${titleSearch}&tag=${tagSearch}&limit=${limit}`) Next


    script.
        function onLimitChange() {
            const limit = document.getElementById('limit').value;
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('limit', limit);
            window.location.href = `/posts?${urlParams.toString()}`;
        }
